@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 7px;
  background: transparent;
}
::-webkit-scrollbar-track {
  background: #e0e7ff;
}
::-webkit-scrollbar-thumb {
  background: #64748b;
  border-radius: 20px;
}
